<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pg"
    android:versionCode="14"
    android:versionName="1.4" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:name="com.pg.PocketGizmo.PocketGizmoApplication"
        android:icon="@drawable/appicon"
        android:label="@string/app_name" >
        <activity
            android:name="com.pg.PocketGizmo.PocketGizmoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pg.PocketGizmo.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pg.PocketGizmo.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pg.myMoneyTracker.MMY_MainMenu"
            android:label="@string/mmenu_item4"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pg.myMoneyTracker.MMY_ExpenseIncome"
            android:label="@string/mmenu_item4"
            android:screenOrientation="portrait" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens android:normalScreens="true" />
    <supports-screens android:largeScreens="true" />
    <supports-screens android:xlargeScreens="true" />
    <supports-screens android:resizeable="true" />
    <supports-screens android:anyDensity="true" />

</manifest>